* {
  margin: 0;
  padding: 0;
}

.main-container {
  background-image: url("../src/images/carly-rae-hobbins-zNHOIzjJiyA-unsplash.jpg");
  background-size: cover;
}
.bars-icon {
  align-items: flex-end;
}
.text-color {
  color: white;
}
.myBackground {
  background-image: url("../src/images/nathan-dumlao-EdULZpOKsUE-unsplash.jpg");
}
